@model IEnumerable<Book_Store.DAL.Book>
@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>
@Html.ActionLink("Add Book", "AddBook", null, new { @class = "btn btn-primary" })
<hr />
@foreach (var book in Model)
{
    <div>@Html.DisplayFor(modelItem => book.Title)</div>
    <div>@Html.DisplayFor(modelItem => book.Genre.GenreName)</div>
    <div>@Html.DisplayFor(modelItem => book.Author.DisplayName)</div>
    <div>@Html.DisplayFor(modelItem => book.Publisher.PublisherName)</div>
    <hr />
}

